<section class="case-section" id="projects">

  <div class="container">

    <div class="case-label">CRAFTED WITH PURPOS</div>
    <h2 class="about-heading">Featured <span class="shine">Impact Projects</span>
    </h2>
    <span class="subtitle">Your work shaping real digital experiences</span>

    <div class="case-list">

      <div 
        class="case-item mt-4"
        *ngFor="let project of projects; index as i"
        [ngClass]="{ 'reverse': i % 2 === 1 }"
      >

        <!-- Text Side -->
        <div class="case-text">
          <h3>{{ project.title }}</h3>
          <p>{{ project.desc }}</p>

          <div class="case-tech">
            <span *ngFor="let t of project.tech">{{ t }}</span>
          </div>

          <a class="case-link" [href]="project.link" style="text-decoration: none;" target="_blank"> → View Project </a>
        </div>

        <!-- Showcase Side -->
        <div class="case-showcase">
          <div class="case-preview">
                <img [src]="project.img" alt="{{ project.title }}" />

          </div>
        </div>

      </div>

    </div>

  </div>

</section>
