<footer class="future-footer">

  <!-- CTA TOP -->
  <div class="footer-cta container">
    <h2>Ready for the future? Let's get there together.</h2>

    <div class="cta-buttons">
      <a class="btn-primary" style="text-decoration: none;" [routerLink]="'contact-me'">Contact me</a>
      <!-- <a href="#demo" class="btn-outline" style="text-decoration: none;">Book a free call</a> -->
    </div>
  </div>

  <!-- BACKGROUND GRAPHIC -->
  <div class="footer-bg">
    <img src="../../../assets/images/Bubble_Footer_Static_f.png" alt="footer background">
  </div>

  <!-- MAIN FOOTER AREA -->
  <div class="mid-section">
      <div class="footer-main container">

    <div class="footer-brand">
      <div class="logo">GJ</div>
      <p>Delhi, India</p>
      <p>+91-8010271565</p>
    </div>

    <div class="footer-links">

      <div class="col">
        <h4>Portfolio</h4>
        <a href="#">Projects</a>
        <a href="#">Case Studies</a>
        <a href="#">Experiments</a>
      </div>

      <div class="col">
        <h4>Expertise</h4>
        <a href="#">Angular Dev</a>
        <a href="#">Motion UI</a>
      </div>

      <div class="col">
        <h4>Connect</h4>
        <a href="#">Email</a>
        <a href="#">LinkedIn</a>
        <a href="#">GitHub</a>
        <a href="#">Twitter</a>
      </div>

    </div>

  </div>
  </div>

  <!-- SOCIAL + LEGAL -->
  <div class="mid-section">

      <div class="footer-bottom container">
    <div class="legal-text">
      © 2025 Gautam Jain. All rights reserved.
    </div>
  </div>
  </div>

</footer>
