// .scene {
//   position: fixed;
//   inset: 0;
// }

// canvas {
//   width: 100vw !important;
//   height: 100vh !important;
//   display: block;
// }

// video {
//   position: absolute;
//   opacity: 0;
// }
