@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Georama:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Marcellus&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  overflow-x: hidden;
font-family: Urbanist;
}

html, body { height: 100%; }
/* Default scrollbar styles (hidden when not scrolling) */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Keeps the track invisible */
 }
 
 ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: transparent; /* Keeps the thumb invisible by default */
    transition: background 0.3s ease-in-out; /* Smooth appearance */
    position: absolute;
    z-index: 9999; /* Ensures the thumb comes over the content */
    width: 0px;
 }
 
 /* Show thumb when scrolling */
 html.scrolling ::-webkit-scrollbar-thumb {
    background: var(--brand-color); /* Color when scrolling */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow effect */
 }
 